In [132]:
import pandas as pd
import datetime as dt

movies_df= pd.read_csv("movies_metadata.csv")
links_small_df= pd.read_csv("links_small.csv")
ratings_small_df= pd.read_csv("ratings_small.csv")

C:\Users\Some User\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [133]:
#movies_df[["id", "imdb_id"]]

In [134]:
movies_df["id"]= pd.to_numeric(movies_df["id"],errors= "coerce")

#movies_df

In [135]:
movies_df = movies_df[["adult","budget","id", "imdb_id", "original_language", "original_title", "overview", "popularity", "release_date", "revenue", "runtime", "status", "tagline", "title", "video", "vote_average", "vote_count"]]

#movies_df.head()

In [136]:
merged_df = pd.merge(movies_df, links_small_df, left_on= "id", right_on= "tmdbId")

#merged_df

In [137]:
merged_df= merged_df.dropna(subset= ["id"])

#merged_df

In [138]:
links_small_clean= merged_df[["movieId","imdbId", "tmdbId"]]
#links_small_clean["tmdbId"]= 
#links_small_clean

In [139]:
movies_clean= merged_df[["adult","budget","id", "imdb_id", "original_language", "original_title", "overview", "popularity", "release_date", "revenue", "runtime", "status", "tagline", "title", "video", "vote_average", "vote_count"]]

#movies_clean

In [140]:
ratings_small_df['timestamp'] = pd.to_datetime(ratings_small_df['timestamp'], unit='s')

ratings_small_df

        userId  movieId  rating           timestamp
0            1       31     2.5 2009-12-14 02:52:24
1            1     1029     3.0 2009-12-14 02:52:59
2            1     1061     3.0 2009-12-14 02:53:02
3            1     1129     2.0 2009-12-14 02:53:05
4            1     1172     4.0 2009-12-14 02:53:25
...        ...      ...     ...                 ...
99999      671     6268     2.5 2003-10-08 02:16:10
100000     671     6269     4.0 2003-10-03 02:46:41
100001     671     6365     4.0 2003-12-09 03:26:03
100002     671     6385     2.5 2003-12-09 14:21:03
100003     671     6565     3.5 2004-01-22 15:18:44

[100004 rows x 4 columns]

In [141]:
#ratings_small_df.dtypes

In [143]:
ratings_small_df.to_csv('ratings.csv')
movies_clean.to_csv('movies.csv')
links_small_clean.to_csv('links.csv')